{% extends 'base.html' %} {% block content %}
<div class="post-body">
    {% if object%}
    <h1>{{object.title}}</h1>
    <i>{{object.datePublished|date }}</i>
    <h6><b>{{post.author}}</b></h6>
    <div class="post-title-photo" style="background-image: url({{post.imageUrl}});"></div>
    <p>{{object.content|linebreaks}}</p>
</div>
{% if user == object.author %}
<a href="{% url 'post_delete' object.id %}"><button class="btn red" style="float:right;">Delete Post</button></a>
<a href="{% url 'post_update' object.id %}"><button class="btn blue" style="float:right;">Edit Post</button></a> {% endif %} {% endif %} {% endblock %}