{% extends 'base.html' %} {% block content %}
<h1>Profile</h1>
<div class="row">
    <div class="col s3">
        <div class="round">
            {% if user.photo_set.first %}
            <a href="{% url 'remove_photo' user.photo_set.first.id %}">
                <div class="profile-photo" style="background-image: url({{user.photo_set.first}});"></div>
            </a>{% else %}
            <form action="{% url 'add_photo' user.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="img-file">
                <br><br>
                <input type="submit" class="btn green" value="Add Image">
            </form>
            {% endif %}
        </div>
    </div>
    <div class="col s9">
        <div class="small-card">
            <div class="card-content">
                <h3 class="capitalized">{{user}}</h3>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'post_create' %}"><button class="btn" style="float:right; margin-top: 20px;">Add Post</button></a>
<h3>My Posts</h3>
{% for post in posts %}
<div class="card small-card">
    <a href="{% url 'post_detail' post.id %}">
        <div class="card-content">
            <div class="col s12">
                <h5>{{post.title}}</h5>
                <p><i>{{post.datePublished|date}}</i></p>
            </div>
        </div>
    </a>
</div>
{% endfor %} {% endblock %}