.brand-logo li {
    padding: 0 10px;
}

nav {
    background-color: black;
}

ul a li,
ul li a {
    color: white;
}

.nav-wrapper {
    color: black;
}

.nav-items li {
    font-size: large;
    padding: 0 5px;
}

#id_content {
    width: 100%;
    height: 60vh;
}

form {
    margin-bottom: 50px;
}

.post-body {
    max-width: 60%px;
    margin: 0 auto;
    overflow-y: auto;
}

.post-title-photo {
    object-fit: cover;
    background-size: fill;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    border-radius: 30px 0;
}

#post_image {
    margin: -24px 0px 0px -35px;
    height: 250px;
    object-fit: fill;
    background-position: center;
    background-size: cover;
    border-radius: 30px 0px 0px 0px;
    border: 1px solid #555;
}

.profile-photo {
    width: 150px;
    height: 142px;
    margin-top: 6px;
    object-fit: fill;
    background-position: center;
    background-size: cover;
    border-radius: 30px 0;
    border: 1px solid #555;
    box-shadow: 2px 2px 4px #aaa;
}

.profile-photo:hover {
    border-color: red;
    border-width: 3px;
    box-shadow: 2px 2px 4px transparent;
}

.capitalized {
    text-transform: capitalize;
}

h6 i {
    color: #555;
}

#id_content,
#id_content_readonly {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#id_content {
    padding: 10px;
    height: 500px;
    resize: none;
    overflow: auto;
    margin-top: 50px;
    border: 1px solid white;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#id_content_readonly {
    border: 1px solid white;
    width: 100%;
    resize: none;
    overflow: hidden;
}

form ::placeholder {
    color: #555;
}

.container {
    max-width: 700px;
}

.card {
    height: 250px;
    border-radius: 30px 0;
    background-color: #111;
    color: #aaa;
}

.card:hover {
    background-color: #333;
}

.card a {
    color: #ccc;
}

.small-card {
    height: 150px;
    border-radius: 30px 0;
}

#logo {
    margin-top: 5px;
    height: 50px;
}

.container {
    max-width: 700px;
}

.justified {
    max-width: 400px;
    margin: 25% auto;
    background-color: black;
    border-radius: 30px 0;
}

.justified form p input {
    color: white;
}